*.xml
*.iml
ui/package.json
ui/package-lock.json
ui/e2e/tsconfig.json
ui/e2e/src/app.po.ts
ui/e2e/src/app.e2e-spec.ts
ui/e2e/protractor.conf.js
ui/browserslist
ui/angular.json
ui/README.md
ui/.gitignore
ui/.editorconfig
ui/.angulardoc.json
backend/src/modules/netflixdata/__pycache__/PitData.cpython-37.pyc
backend/src/modules/netflixdata/__pycache__/NetflixData.cpython-37.pyc
ui/src/styles.css
ui/src/polyfills.ts
ui/src/main.ts
ui/src/index.html
ui/src/favicon.ico
ui/karma.conf.js
ui/tslint.json
ui/tsconfig.spec.json
ui/tsconfig.app.json
ui/src/test.ts
ui/tsconfig.json
backend/src/modules/__pycache__/config.cpython-37.pyc
*.gitkeep
