
<kendo-grid 
id='raceHubGridId'
    [data]="dataSorted"
    [height]="550"
    [sortable]="{
        allowUnsort: allowUnsort,
        mode: 'multiple'
        }"
    [sort]="sort"
    (sortChange)="sortChange($event)"
    filterable="menu"
    [filter]="filter"
    (filterChange)="filterChange($event)">
    <!-- <ng-template kendoGridToolbarTemplate>
        <button type="button" kendoGridExcelCommand icon="file-excel">Export to Excel</button>
    </ng-template> -->
    <kendo-grid-column *ngFor="let column of pitColumns"
        class="no-padding"
        field={{column.field}}
        title={{column.title}}>
        <!-- [filterable]="column.filter" -->
        <ng-template kendoGridCellTemplate let-dataItem>
            <span class="whole-cell">
                {{ dataItem[column.field] }} 
            </span>
        </ng-template>
        <!-- <ng-template kendoGridHeaderTemplate>
            <span title={{column.tooltip}}>{{column.title}}</span>
        </ng-template> -->
        <!-- <ng-template kendoGridFilterMenuTemplate
         let-filter="filter"
         let-filterService="filterService"> -->
            <!-- <kendo-multiselect
                style="width:220px"
                [data]="column.filterItems"
                [valuePrimitive]="true"
                [value]="genericFilters(filter)"
                (valueChange)="genericChange($event, filterService, column.field)">
            </kendo-multiselect> -->
        <!-- </ng-template>   -->
    </kendo-grid-column>
  
    <!-- <kendo-grid-excel fileName="Pit-Data-Export.xlsx"></kendo-grid-excel> -->
</kendo-grid>


