<div class="container-fluid template" 
    style = "height:auto; min-height: 100vh;overflow-y: auto;">
    <header class="template">
        <h1>NETFLIX</h1>
    </header>
    <body class="template">
        <h4 >Recent Releases</h4>
        <li 
            class="template"
            *ngFor="let show of new_releases">
            {{ show }}
        </li>
        
    </body>
    &nbsp;
    <app-type-drpdn class="template" [typeList]= 'netflixType'></app-type-drpdn>
    <app-grid-layout class="template" style="padding: 50px;"></app-grid-layout>
</div>