<!-- <div *ngIf = "showSpinner == true"
        class="text-center" style="position: absolute; top: 40vh; left: 40vw; width: 20vw; height: 20vh; z-index: 2000;
        padding-top: 5.8vh; background-color: transparent;">
        <div class="spinner-border text-light" style="width: 8rem; height: 8rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
</div> -->
<div class="container-fluid template"
     style="height: 100vh;">
    <header class="template">
        <h1>NETFLIX</h1>
    </header>
    <body class="template">
        <h4 >Recent Releases</h4>
        <li 
            class="template"
            *ngFor="let show of new_releases">
            {{ show }}
        </li>
        
    </body>
    &nbsp;
    <div class='row'>
        <app-type-drpdn [typeList]= 'netflixType'></app-type-drpdn>
        <kendo-textbox-container floatingLabel="Search">
            <textarea kendoTextArea
                [(ngModel)]='searchtext'
                (valueChange)="onSearch($event);">
            </textarea>
          </kendo-textbox-container>
    </div>
    <app-grid-layout style="padding: 50px;"></app-grid-layout>
</div>